@tailwind base;
@tailwind components;
@tailwind utilities;

.test {
    display: flex;
    position : relative;
    flex-direction: column;
    gap: 1em;
    height: 100%;
    align-items: center;
    justify-content: center;
    perspective: 100vh;
    box-sizing: border-box;
    flex-basis: 272px;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    align-self: start;
    justify-content: space-between;
    width: 272px;
    max-height: 100%;
    padding-bottom: 8px;
    border-radius: 12px;
    background-color: var(--accent-background, var(--tr-background-list));
    box-shadow: var(--ds-shadow-raised, 0px 1px 1px #091e4240, 0px 0px 1px #091e424f);
    color: var(--accent-text, var(--ds-text-subtle, #44546f));
    vertical-align: top;
    white-space: normal;
    scroll-margin: 8px;
}

.kanban-board-background {
    background-color: #f9fafb;
    padding: 16px;
    border-radius: 10px;
    margin: 10px;
    min-height: 100px;
}

.task {
    width: 100%;
    /* éventuellement pour l’affichage en bloc */
    display: block;
  }
